.col-md-3
    .bs-sidebar.hidden-print.affix(role="complementary")
        ul.nav
            li(class=(nav=='all')?'active':'')
                a(href="/news/") 所有数据
            li(class=(nav=='add')?'active':'')
                a(href="/news/add/") 新增数据