body,ul,h1,h2,h3,h4,p{
    margin:0;
    padding:0;
    font-family: '微软雅黑',serif;
}
body{
    min-width: 1104px;
}
li{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
.wrapper{
    width: 1104px;
    margin: 0 auto;
}
.clearfix{
    zoom:1;
}
.clearfix:before, .clearfix:after{
    content: ' ';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    clear:both;
}
.pr{
    position: relative;
}
.fl{
    float: left;
}
.fr{
    float: right;
}


footer{
    border-top: 1px solid #dedede;
    border-bottom: 3px double #dedede;
    margin-bottom: 40px;
    padding-top: 10px;
    text-align: center;
}
footer p{
    color:#666666;
    margin-bottom: 10px;
    line-height: 18px;
    font-size: 12px;
}