.thumb img {
    display: block;
    width: 100%;
}
.header{
    width:100%;
}
.header .top{
    background-color: #098d94;
    padding-top: 6px;
}
.header nav a{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    font-family: '幼圆','Mircosoft YaHei',serif;
    display: block;
    float: left;
    padding: 15px 16px 14px;
    line-height: 16px;
}
.header nav a.active{
    color: #333;
    background:#FFF;
}
.header .middle{
    padding: 25px 0 15px;
    border-bottom: 1px solid #dfdfdf;
}
.header .bottom{
    border-bottom: 1px solid #dfdfdf;
}
.header .bottom .left{
    max-height: 30px;
    overflow: hidden;
}
.header .bottom .left span{
    float: left;
    display: inline-block;
    margin: 0;
    color: #098d94;
    position: relative;
    text-transform: uppercase;
    line-height: 30px;
    border-right: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    padding: 0 15px;
}
.header .headline{
    float: left;
    width: 626px;
    margin-left: 15px;
    line-height: 30px;
    height:30px;
}
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.header .bottom li:first-child{
    border-left:1px solid #dfdfdf
}
.header .bottom li{
    float: left;
    border-right:1px solid #dfdfdf
}
.header .bottom li a{
    padding: 0px 10px;
    line-height: 30px;
}


.main .wrapper{
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
.main .left{
    float: left;
    width: 720px;
    padding: 20px 20px 0;
    border-right: 1px solid #dedede;
}
.main .left .breadcrumb{
    background: none;
    border-bottom: 3px double #dedede;
    padding: 0 0 8px;
    color: #5b5b5b;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 0;
    margin-bottom: 20px;
}
.main .left .breadcrumb span{
    color: #098d94;
}
.main .left .list li{
    list-style: none;
    float: left;
    width: 100%;
    padding: 0 10px;
    margin: 0 0 20px;
}
.main .left .list article{
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
}
.main .left .list .thumb{
    float: left;
    width: 300px;
    margin: 0 20px 0 0;
}
.main .left .list .thumb a{
    width:300px;
    height:200px;
    display:block;
    overflow: hidden;
}
.main .left .list .title{
    font-size: 24px;
    line-height: 30px;
    margin-bottom:10px;
}
.main .left .list .date{
    color: #098d94;
    font-style: italic;
    font-size: 12px;
}
.main .left .list p{
    line-height: 18px;
    font-size: 14px;
}
.main .left .list .link{
    display: block;
    margin-top: 15px;
    color: #098d94;
    text-decoration: none;
    font-size: 14px;
}
.pagination ul li {
    list-style: none;
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #098d94;
    margin: 0 0 0 25px;
    font-family: 'Rokkitt', serif;
}

.main .right{
    float: left;
    width: 302px;
    padding: 20px 20px 0;
    border-left: 1px solid #dedede;
    margin-left: -1px;
}
.main .right h3{
    color: #098d94;
    border-bottom: 3px double #dedede;
    margin: 0 0 15px;
    text-transform: uppercase;
}
.main .right .thumb{
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main .right .thumb a{
    width:300px;
    height:300px;
    display:block;
    overflow: hidden;
}
.main .right h4{
    margin: 0 0 10px;
}
.main .right .date{
    color: #098d94;
    font-style: italic;
    font-size: 12px;
}
.main .right p {
    line-height: 18px;
    margin: 0 0 10px;
    font-size: 12px;
}
.main .right li p{
    display: none;
}
.main .right .post .thumb{
    float: left;
    margin-right: 18px;
    width: 53px;
}
.main .right .post .thumb a{
    width:53px;
    height:53px;
}
.main .right .post li{
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
    margin-top: 5px;
}
.main .right .post .date{
    display: none;
}
.pagination {
    margin: 0 0 30px;
    border-radius: 0;
}
@media(max-width:1124px){
    body{
        min-width:1000px;
    }
    .header .headline{
        width:524px;
    }
    .wrapper{
        width:1000px;
    }
    .main .wrapper{
        width: 998px;
    }
    .main .left .list .thumb{
        width: 270px;
        height: 175px;
    }
    .main .left .list .thumb a {
        width: 270px;
        height: 175px;
    }
    .main .left {
        width: 660px;
    }
    .main .right {
        width: 256px;
    }
    .main .right .thumb a {
        width: 256px;
        height: 256px;
    }
}
@media(max-width:1024px){
    body{
        min-width:800px;
    }
    .header .headline{
        width:324px;
    }
    .wrapper{
        width:800px;
    }
    .main .wrapper{
        width: 800px;
    }
    .main .left .list .thumb{
        width: 175px;
        height: 175px;
    }
    .main .left .list .thumb a {
        width: 175px;
        height: 175px;
    }
    .main .left {
        width: 462px;
    }
    .main .right .thumb a{
        float: left;
        margin-right: 18px;
        width: 53px;
        height: 53px;
    }
    .main .right .date{
        display: none;
    }
    .main .right p{
        display: none;
    }
    .main .right .random{
        width:auto;
    }
    .main .right .random li{
        float:left;
        width:256px;
    }
}