@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-number, .icon-number-2, .icon-number-3, .icon-number-4, .icon-number-5, .icon-number-6, .icon-number-7, .icon-number-8, .icon-number-9, .icon-number-10, .icon-number-11, .icon-number-12, .icon-number-13, .icon-number-14, .icon-number-15, .icon-number-16, .icon-number-17, .icon-number-18, .icon-number-19, .icon-number-20, .icon-quote, .icon-quote-2, .icon-tag, .icon-tag-2, .icon-link, .icon-calendar, .icon-calendar-2, .icon-calendar-3, .icon-phone, .icon-tablet, .icon-monitor, .icon-ipod, .icon-camera, .icon-camera-2, .icon-camera-3, .icon-film, .icon-download, .icon-microphone, .icon-microphone-2, .icon-microphone-3, .icon-film-2, .icon-film-3, .icon-upload, .icon-inbox, .icon-checkmark, .icon-checkmark-2, .icon-cancel, .icon-cancel-2, .icon-plus, .icon-plus-2, .icon-minus, .icon-minus-2, .icon-notice, .icon-notice-2, .icon-cog, .icon-cogs, .icon-cog-2, .icon-chronometer, .icon-android, .icon-pictures, .icon-pictures-2, .icon-picture, .icon-suitcase, .icon-suitcase-2, .icon-suitcase-3, .icon-health, .icon-warning, .icon-alarm-clock, .icon-time, .icon-time-2, .icon-headphones, .icon-wallet, .icon-checkmark-3, .icon-cancel-3, .icon-eye, .icon-cloud, .icon-upload-2, .icon-phone-2, .icon-phone-3, .icon-alarm-cancel, .icon-alarm, .icon-folder, .icon-basket, .icon-download-2, .icon-location, .icon-sale, .icon-trashcan, .icon-mouse, .icon-magnifier, .icon-zoom-in, .icon-zoom-out, .icon-megaphone, .icon-grid, .icon-list, .icon-grid-2, .icon-tools, .icon-brush, .icon-pen, .icon-chat, .icon-comments, .icon-chat-2, .icon-chat-3, .icon-volume, .icon-volume-2, .icon-volume-3, .icon-equalizer, .icon-resize, .icon-resize-2, .icon-stretch, .icon-narrow, .icon-resize-3, .icon-download-3, .icon-edit, .icon-pin, .icon-pin-2, .icon-pen-2, .icon-pencil, .icon-attachment, .icon-info, .icon-info-2, .icon-heart, .icon-envelope, .icon-envelope-2, .icon-address-book, .icon-plane, .icon-pictures-3, .icon-tags, .icon-clipboard, .icon-clipboard-2, .icon-clipboard-3, .icon-switch, .icon-ruler, .icon-search, .icon-star, .icon-star-empty, .icon-user, .icon-film-4, .icon-th-large, .icon-th, .icon-th-list, .icon-ok, .icon-remove, .icon-zoom-in-2, .icon-zoom-out-2, .icon-cog-3, .icon-trash, .icon-home, .icon-time-3, .icon-download-alt, .icon-download-4, .icon-upload-3, .icon-inbox-2, .icon-play-circle, .icon-tags-2, .icon-book, .icon-volume-up, .icon-volume-down, .icon-volume-off, .icon-flag, .icon-camera-4, .icon-picture-2, .icon-forward, .icon-stop, .icon-pause, .icon-play, .icon-backward, .icon-fast-backward, .icon-step-backward, .icon-move, .icon-check, .icon-share, .icon-edit-2, .icon-map-marker, .icon-pencil-2, .icon-fast-forward, .icon-step-forward, .icon-eject, .icon-chevron-left, .icon-chevron-right, .icon-plus-sign, .icon-minus-sign, .icon-remove-sign, .icon-ok-sign, .icon-question-sign, .icon-info-sign, .icon-screenshot, .icon-remove-circle, .icon-ok-circle, .icon-ban-circle, .icon-arrow-left, .icon-arrow-right, .icon-arrow-up, .icon-arrow-down, .icon-plus-3, .icon-minus-3, .icon-asterisk, .icon-exclamation-sign, .icon-plane-2, .icon-calendar-4, .icon-comment, .icon-chevron-up, .icon-chevron-down, .icon-folder-close, .icon-folder-open, .icon-shopping-cart, .icon-pushpin, .icon-linkedin-sign, .icon-star-half, .icon-heart-empty, .icon-comments-2, .icon-cogs-2, .icon-facebook-sign, .icon-twitter-sign, .icon-github-sign, .icon-phone-sign, .icon-twitter, .icon-facebook, .icon-github, .icon-rss, .icon-globe, .icon-circle-arrow-down, .icon-circle-arrow-up, .icon-circle-arrow-right, .icon-circle-arrow-left, .icon-bullhorn, .icon-briefcase, .icon-group, .icon-link-2, .icon-cloud-2, .icon-list-ul, .icon-list-ol, .icon-caret-right, .icon-caret-left, .icon-caret-up, .icon-caret-down, .icon-google-plus, .icon-google-plus-sign, .icon-pinterest, .icon-pinterest-sign, .icon-truck, .icon-magic, .icon-linkedin, .icon-comment-alt, .icon-comments-alt, .icon-fighter-jet, .icon-medkit, .icon-suitcase-4, .icon-cloud-upload, .icon-cloud-download, .icon-plus-sign-2, .icon-double-angle-left, .icon-double-angle-right, .icon-double-angle-up, .icon-double-angle-down, .icon-angle-left, .icon-angle-right, .icon-angle-up, .icon-angle-down, .icon-sort, .icon-sort-down, .icon-sort-up, .icon-desktop, .icon-laptop, .icon-tablet-2, .icon-mobile, .icon-quote-right, .icon-quote-left, .icon-star-half-full, .icon-html5, .icon-chevron-sign-down, .icon-chevron-sign-up, .icon-chevron-sign-right, .icon-chevron-sign-left, .icon-rocket, .icon-calendar-empty, .icon-microphone-off, .icon-microphone-4, .icon-css3, .icon-rss-sign, .icon-play-sign, .icon-minus-sign-alt, .icon-check-sign, .icon-edit-sign, .icon-youtube-sign, .icon-youtube, .icon-dropbox, .icon-youtube-play, .icon-xing, .icon-xing-sign, .icon-tumblr, .icon-tumblr-sign, .icon-apple, .icon-windows, .icon-android-2, .icon-skype, .icon-dribbble, .icon-foursquare, .icon-linux, .icon-phone-4, .icon-mobile-2, .icon-airplane, .icon-github-2, .icon-github-3, .icon-flickr, .icon-flickr-2, .icon-vimeo, .icon-vimeo-2, .icon-twitter-2, .icon-twitter-3, .icon-facebook-2, .icon-facebook-3, .icon-facebook-4, .icon-googleplus, .icon-googleplus-2, .icon-pinterest-2, .icon-pinterest-3, .icon-tumblr-2, .icon-tumblr-3, .icon-linkedin-2, .icon-linkedin-3, .icon-dribbble-2, .icon-dribbble-3, .icon-stumbleupon, .icon-stumbleupon-2, .icon-lastfm, .icon-lastfm-2, .icon-rdio, .icon-rdio-2, .icon-spotify, .icon-spotify-2, .icon-qq, .icon-instagram, .icon-dropbox-2, .icon-smashing, .icon-vk, .icon-circles, .icon-behance, .icon-mixi, .icon-soundcloud, .icon-picasa, .icon-paypal, .icon-sina-weibo, .icon-renren, .icon-skype-2, .icon-skype-3, .icon-flattr, .icon-evernote, .icon-home-2, .icon-home-3, .icon-newspaper, .icon-pencil-3, .icon-pencil-4, .icon-image, .icon-images, .icon-camera-5, .icon-headphones-2, .icon-play-2, .icon-film-5, .icon-camera-6, .icon-bullhorn-2, .icon-book-2, .icon-profile, .icon-file, .icon-tag-3, .icon-tags-3, .icon-cart, .icon-cart-2, .icon-cart-3, .icon-support, .icon-alarm-2, .icon-location-2, .icon-location-3, .icon-pushpin-2, .icon-phone-5, .icon-alarm-3, .icon-bell, .icon-stopwatch, .icon-calendar-5, .icon-calendar-6, .icon-screen, .icon-laptop-2, .icon-mobile-3, .icon-mobile-4, .icon-tablet-3, .icon-upload-4, .icon-download-5, .icon-box-remove, .icon-box-add, .icon-bubble, .icon-bubbles, .icon-bubbles-2, .icon-bubble-2, .icon-bubbles-3, .icon-bubbles-4, .icon-user-2, .icon-users, .icon-user-3, .icon-users-2, .icon-user-4, .icon-user-5, .icon-quotes-left, .icon-zoom-out-3, .icon-zoom-in-3, .icon-search-2, .icon-spinner, .icon-settings, .icon-equalizer-2, .icon-cog-4, .icon-cogs-3, .icon-cog-5, .icon-hammer, .icon-wand, .icon-rocket-2, .icon-gift, .icon-remove-2, .icon-remove-3, .icon-briefcase-2, .icon-airplane-2, .icon-truck-2, .icon-signup, .icon-switch-2, .icon-earth, .icon-globe-2, .icon-upload-5, .icon-download-6, .icon-upload-6, .icon-download-7, .icon-cloud-upload-2, .icon-cloud-download-2, .icon-cloud-3, .icon-list-2, .icon-list-3, .icon-numbered-list, .icon-link-3, .icon-flag-2, .icon-star-2, .icon-star-3, .icon-star-4, .icon-heart-2, .icon-heart-3, .icon-heart-broken, .icon-checkmark-4, .icon-close, .icon-checkmark-5, .icon-minus-4, .icon-plus-4, .icon-play-3, .icon-pause-2, .icon-stop-2, .icon-backward-2, .icon-forward-2, .icon-play-4, .icon-pause-3, .icon-stop-3, .icon-backward-3, .icon-loop, .icon-volume-decrease, .icon-volume-increase, .icon-volume-mute, .icon-volume-mute-2, .icon-volume-low, .icon-volume-medium, .icon-volume-high, .icon-eject-2, .icon-next, .icon-previous, .icon-last, .icon-first, .icon-forward-3, .icon-arrow-up-left, .icon-arrow-up-2, .icon-arrow-up-right, .icon-arrow-right-2, .icon-arrow-down-right, .icon-arrow-down-2, .icon-arrow-down-left, .icon-arrow-left-2, .icon-arrow-up-left-2, .icon-arrow-up-3, .icon-arrow-up-right-2, .icon-arrow-right-3, .icon-arrow-down-right-2, .icon-checkbox-partial, .icon-checkbox-unchecked, .icon-checkbox-checked, .icon-tab, .icon-arrow-left-3, .icon-arrow-down-left-2, .icon-arrow-down-3, .icon-arrow-down-right-3, .icon-arrow-right-4, .icon-arrow-up-right-3, .icon-arrow-up-4, .icon-arrow-up-left-3, .icon-arrow-left-4, .icon-arrow-down-left-3, .icon-arrow-down-4, .icon-radio-checked, .icon-radio-unchecked, .icon-google, .icon-google-plus-2, .icon-google-plus-3, .icon-google-plus-4, .icon-google-plus-5, .icon-vimeo2, .icon-vimeo-3, .icon-youtube-2, .icon-youtube-3, .icon-feed, .icon-feed-2, .icon-feed-3, .icon-twitter-4, .icon-twitter-5, .icon-twitter-6, .icon-instagram-2, .icon-facebook-5, .icon-facebook-6, .icon-facebook-7, .icon-google-drive, .icon-vimeo-4, .icon-lanyrd, .icon-flickr-3, .icon-flickr-4, .icon-flickr-5, .icon-flickr-6, .icon-picassa, .icon-picassa-2, .icon-dribbble-4, .icon-dribbble-5, .icon-dribbble-6, .icon-forrst, .icon-forrst-2, .icon-deviantart, .icon-deviantart-2, .icon-yahoo, .icon-tumblr-4, .icon-tumblr-5, .icon-blogger, .icon-blogger-2, .icon-joomla, .icon-wordpress, .icon-wordpress-2, .icon-github-4, .icon-github-5, .icon-github-6, .icon-github-7, .icon-github-8, .icon-steam, .icon-steam-2, .icon-tux, .icon-apple-2, .icon-finder, .icon-android-3, .icon-windows-2, .icon-windows8, .icon-soundcloud-2, .icon-soundcloud-3, .icon-skype-4, .icon-reddit, .icon-linkedin-4, .icon-lastfm-3, .icon-lastfm-4, .icon-stumbleupon-3, .icon-delicious, .icon-paypal-2, .icon-paypal-3, .icon-paypal-4, .icon-foursquare-2, .icon-foursquare-3, .icon-flattr-2, .icon-xing-2, .icon-xing-3, .icon-pinterest-4, .icon-pinterest-5, .icon-stackoverflow, .icon-stumbleupon-4, .icon-file-word, .icon-file-excel, .icon-html5-2, .icon-html5-3, .icon-css3-2, .icon-chrome, .icon-firefox, .icon-IE, .icon-opera, .icon-safari, .icon-IcoMoon, .icon-envelope-3, .icon-briefcase-3, .icon-cart-4, .icon-plus-5, .icon-minus-5, .icon-search-3, .icon-dribbble-7, .icon-apple-3, .icon-forrst-3, .icon-feed-4, .icon-earth-2, .icon-location-4, .icon-eye-2, .icon-calendar-7, .icon-tag-4, .icon-phone-6, .icon-headphones-3, .icon-checkmark-6, .icon-cancel-4, .icon-skype-5, .icon-gift-2, .icon-trashcan-2, .icon-floppy, .icon-list-4, .icon-grid-3, .icon-camera-7, .icon-winsows {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-number:before {
    content: "\e000";
}
.icon-number-2:before {
    content: "\e001";
}
.icon-number-3:before {
    content: "\e002";
}
.icon-number-4:before {
    content: "\e003";
}
.icon-number-5:before {
    content: "\e004";
}
.icon-number-6:before {
    content: "\e005";
}
.icon-number-7:before {
    content: "\e006";
}
.icon-number-8:before {
    content: "\e007";
}
.icon-number-9:before {
    content: "\e008";
}
.icon-number-10:before {
    content: "\e009";
}
.icon-number-11:before {
    content: "\e00a";
}
.icon-number-12:before {
    content: "\e00b";
}
.icon-number-13:before {
    content: "\e00c";
}
.icon-number-14:before {
    content: "\e00d";
}
.icon-number-15:before {
    content: "\e00e";
}
.icon-number-16:before {
    content: "\e00f";
}
.icon-number-17:before {
    content: "\e010";
}
.icon-number-18:before {
    content: "\e011";
}
.icon-number-19:before {
    content: "\e012";
}
.icon-number-20:before {
    content: "\e013";
}
.icon-quote:before {
    content: "\e014";
}
.icon-quote-2:before {
    content: "\e015";
}
.icon-tag:before {
    content: "\e016";
}
.icon-tag-2:before {
    content: "\e017";
}
.icon-link:before {
    content: "\e018";
}
.icon-calendar:before {
    content: "\e01c";
}
.icon-calendar-2:before {
    content: "\e01d";
}
.icon-calendar-3:before {
    content: "\e01e";
}
.icon-phone:before {
    content: "\e023";
}
.icon-tablet:before {
    content: "\e024";
}
.icon-monitor:before {
    content: "\e026";
}
.icon-ipod:before {
    content: "\e027";
}
.icon-camera:before {
    content: "\e029";
}
.icon-camera-2:before {
    content: "\e02a";
}
.icon-camera-3:before {
    content: "\e02b";
}
.icon-film:before {
    content: "\e02c";
}
.icon-download:before {
    content: "\e03b";
}
.icon-microphone:before {
    content: "\e030";
}
.icon-microphone-2:before {
    content: "\e031";
}
.icon-microphone-3:before {
    content: "\e02f";
}
.icon-film-2:before {
    content: "\e02e";
}
.icon-film-3:before {
    content: "\e02d";
}
.icon-upload:before {
    content: "\e03c";
}
.icon-inbox:before {
    content: "\e03d";
}
.icon-checkmark:before {
    content: "\e03e";
}
.icon-checkmark-2:before {
    content: "\e03f";
}
.icon-cancel:before {
    content: "\e040";
}
.icon-cancel-2:before {
    content: "\e041";
}
.icon-plus:before {
    content: "\e042";
}
.icon-plus-2:before {
    content: "\e043";
}
.icon-minus:before {
    content: "\e044";
}
.icon-minus-2:before {
    content: "\e045";
}
.icon-notice:before {
    content: "\e046";
}
.icon-notice-2:before {
    content: "\e047";
}
.icon-cog:before {
    content: "\e048";
}
.icon-cogs:before {
    content: "\e049";
}
.icon-cog-2:before {
    content: "\e04a";
}
.icon-chronometer:before {
    content: "\e058";
}
.icon-android:before {
    content: "\e053";
}
.icon-pictures:before {
    content: "\e052";
}
.icon-pictures-2:before {
    content: "\e051";
}
.icon-picture:before {
    content: "\e050";
}
.icon-suitcase:before {
    content: "\e04f";
}
.icon-suitcase-2:before {
    content: "\e04e";
}
.icon-suitcase-3:before {
    content: "\e04d";
}
.icon-health:before {
    content: "\e04c";
}
.icon-warning:before {
    content: "\e04b";
}
.icon-alarm-clock:before {
    content: "\e05a";
}
.icon-time:before {
    content: "\e05b";
}
.icon-time-2:before {
    content: "\e05c";
}
.icon-headphones:before {
    content: "\e05d";
}
.icon-wallet:before {
    content: "\e05e";
}
.icon-checkmark-3:before {
    content: "\e05f";
}
.icon-cancel-3:before {
    content: "\e060";
}
.icon-eye:before {
    content: "\e061";
}
.icon-cloud:before {
    content: "\e065";
}
.icon-upload-2:before {
    content: "\e066";
}
.icon-phone-2:before {
    content: "\e075";
}
.icon-phone-3:before {
    content: "\e074";
}
.icon-alarm-cancel:before {
    content: "\e073";
}
.icon-alarm:before {
    content: "\e072";
}
.icon-folder:before {
    content: "\e070";
}
.icon-basket:before {
    content: "\e06f";
}
.icon-download-2:before {
    content: "\e06e";
}
.icon-location:before {
    content: "\e06d";
}
.icon-sale:before {
    content: "\e078";
}
.icon-trashcan:before {
    content: "\e07b";
}
.icon-mouse:before {
    content: "\e08b";
}
.icon-magnifier:before {
    content: "\e09b";
}
.icon-zoom-in:before {
    content: "\e09c";
}
.icon-zoom-out:before {
    content: "\e09d";
}
.icon-megaphone:before {
    content: "\e0b3";
}
.icon-grid:before {
    content: "\e0c2";
}
.icon-list:before {
    content: "\e0c5";
}
.icon-grid-2:before {
    content: "\e0c3";
}
.icon-tools:before {
    content: "\e0d6";
}
.icon-brush:before {
    content: "\e0da";
}
.icon-pen:before {
    content: "\e0db";
}
.icon-chat:before {
    content: "\e0dc";
}
.icon-comments:before {
    content: "\e0dd";
}
.icon-chat-2:before {
    content: "\e0de";
}
.icon-chat-3:before {
    content: "\e0df";
}
.icon-volume:before {
    content: "\e0e0";
}
.icon-volume-2:before {
    content: "\e0e1";
}
.icon-volume-3:before {
    content: "\e0e2";
}
.icon-equalizer:before {
    content: "\e0e3";
}
.icon-resize:before {
    content: "\e0e4";
}
.icon-resize-2:before {
    content: "\e0e5";
}
.icon-stretch:before {
    content: "\e0e6";
}
.icon-narrow:before {
    content: "\e0e7";
}
.icon-resize-3:before {
    content: "\e0e8";
}
.icon-download-3:before {
    content: "\e0e9";
}
.icon-edit:before {
    content: "\e0f8";
}
.icon-pin:before {
    content: "\e0f6";
}
.icon-pin-2:before {
    content: "\e0f5";
}
.icon-pen-2:before {
    content: "\e0f4";
}
.icon-pencil:before {
    content: "\e0f3";
}
.icon-attachment:before {
    content: "\e0f0";
}
.icon-info:before {
    content: "\e11b";
}
.icon-info-2:before {
    content: "\e11a";
}
.icon-heart:before {
    content: "\e119";
}
.icon-envelope:before {
    content: "\e112";
}
.icon-envelope-2:before {
    content: "\e111";
}
.icon-address-book:before {
    content: "\e10e";
}
.icon-plane:before {
    content: "\e129";
}
.icon-pictures-3:before {
    content: "\e147";
}
.icon-tags:before {
    content: "\e155";
}
.icon-clipboard:before {
    content: "\e159";
}
.icon-clipboard-2:before {
    content: "\e15a";
}
.icon-clipboard-3:before {
    content: "\e15b";
}
.icon-switch:before {
    content: "\e15c";
}
.icon-ruler:before {
    content: "\e15d";
}
.icon-search:before {
    content: "\f002";
}
.icon-star:before {
    content: "\f005";
}
.icon-star-empty:before {
    content: "\f006";
}
.icon-user:before {
    content: "\f007";
}
.icon-film-4:before {
    content: "\f008";
}
.icon-th-large:before {
    content: "\f009";
}
.icon-th:before {
    content: "\f00a";
}
.icon-th-list:before {
    content: "\f00b";
}
.icon-ok:before {
    content: "\f00c";
}
.icon-remove:before {
    content: "\f00d";
}
.icon-zoom-in-2:before {
    content: "\f00e";
}
.icon-zoom-out-2:before {
    content: "\f010";
}
.icon-cog-3:before {
    content: "\f013";
}
.icon-trash:before {
    content: "\f014";
}
.icon-home:before {
    content: "\f015";
}
.icon-time-3:before {
    content: "\f017";
}
.icon-download-alt:before {
    content: "\f019";
}
.icon-download-4:before {
    content: "\f01a";
}
.icon-upload-3:before {
    content: "\f01b";
}
.icon-inbox-2:before {
    content: "\f01c";
}
.icon-play-circle:before {
    content: "\f01d";
}
.icon-tags-2:before {
    content: "\f02c";
}
.icon-book:before {
    content: "\f02d";
}
.icon-volume-up:before {
    content: "\f028";
}
.icon-volume-down:before {
    content: "\f027";
}
.icon-volume-off:before {
    content: "\f026";
}
.icon-flag:before {
    content: "\f024";
}
.icon-camera-4:before {
    content: "\f030";
}
.icon-picture-2:before {
    content: "\f03e";
}
.icon-forward:before {
    content: "\f04e";
}
.icon-stop:before {
    content: "\f04d";
}
.icon-pause:before {
    content: "\f04c";
}
.icon-play:before {
    content: "\f04b";
}
.icon-backward:before {
    content: "\f04a";
}
.icon-fast-backward:before {
    content: "\f049";
}
.icon-step-backward:before {
    content: "\f048";
}
.icon-move:before {
    content: "\f047";
}
.icon-check:before {
    content: "\f046";
}
.icon-share:before {
    content: "\f045";
}
.icon-edit-2:before {
    content: "\f044";
}
.icon-map-marker:before {
    content: "\f041";
}
.icon-pencil-2:before {
    content: "\f040";
}
.icon-fast-forward:before {
    content: "\f050";
}
.icon-step-forward:before {
    content: "\f051";
}
.icon-eject:before {
    content: "\f052";
}
.icon-chevron-left:before {
    content: "\f053";
}
.icon-chevron-right:before {
    content: "\f054";
}
.icon-plus-sign:before {
    content: "\f055";
}
.icon-minus-sign:before {
    content: "\f056";
}
.icon-remove-sign:before {
    content: "\f057";
}
.icon-ok-sign:before {
    content: "\f058";
}
.icon-question-sign:before {
    content: "\f059";
}
.icon-info-sign:before {
    content: "\f05a";
}
.icon-screenshot:before {
    content: "\f05b";
}
.icon-remove-circle:before {
    content: "\f05c";
}
.icon-ok-circle:before {
    content: "\f05d";
}
.icon-ban-circle:before {
    content: "\f05e";
}
.icon-arrow-left:before {
    content: "\f060";
}
.icon-arrow-right:before {
    content: "\f061";
}
.icon-arrow-up:before {
    content: "\f062";
}
.icon-arrow-down:before {
    content: "\f063";
}
.icon-plus-3:before {
    content: "\f067";
}
.icon-minus-3:before {
    content: "\f068";
}
.icon-asterisk:before {
    content: "\f069";
}
.icon-exclamation-sign:before {
    content: "\f06a";
}
.icon-plane-2:before {
    content: "\f072";
}
.icon-calendar-4:before {
    content: "\f073";
}
.icon-comment:before {
    content: "\f075";
}
.icon-chevron-up:before {
    content: "\f077";
}
.icon-chevron-down:before {
    content: "\f078";
}
.icon-folder-close:before {
    content: "\f07b";
}
.icon-folder-open:before {
    content: "\f07c";
}
.icon-shopping-cart:before {
    content: "\f07a";
}
.icon-pushpin:before {
    content: "\f08d";
}
.icon-linkedin-sign:before {
    content: "\f08c";
}
.icon-star-half:before {
    content: "\f089";
}
.icon-heart-empty:before {
    content: "\f08a";
}
.icon-comments-2:before {
    content: "\f086";
}
.icon-cogs-2:before {
    content: "\f085";
}
.icon-facebook-sign:before {
    content: "\f082";
}
.icon-twitter-sign:before {
    content: "\f081";
}
.icon-github-sign:before {
    content: "\f092";
}
.icon-phone-sign:before {
    content: "\f098";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-github:before {
    content: "\f09b";
}
.icon-rss:before {
    content: "\f09e";
}
.icon-globe:before {
    content: "\f0ac";
}
.icon-circle-arrow-down:before {
    content: "\f0ab";
}
.icon-circle-arrow-up:before {
    content: "\f0aa";
}
.icon-circle-arrow-right:before {
    content: "\f0a9";
}
.icon-circle-arrow-left:before {
    content: "\f0a8";
}
.icon-bullhorn:before {
    content: "\f0a1";
}
.icon-briefcase:before {
    content: "\f0b1";
}
.icon-group:before {
    content: "\f0c0";
}
.icon-link-2:before {
    content: "\f0c1";
}
.icon-cloud-2:before {
    content: "\f0c2";
}
.icon-list-ul:before {
    content: "\f0ca";
}
.icon-list-ol:before {
    content: "\f0cb";
}
.icon-caret-right:before {
    content: "\f0da";
}
.icon-caret-left:before {
    content: "\f0d9";
}
.icon-caret-up:before {
    content: "\f0d8";
}
.icon-caret-down:before {
    content: "\f0d7";
}
.icon-google-plus:before {
    content: "\f0d5";
}
.icon-google-plus-sign:before {
    content: "\f0d4";
}
.icon-pinterest:before {
    content: "\f0d2";
}
.icon-pinterest-sign:before {
    content: "\f0d3";
}
.icon-truck:before {
    content: "\f0d1";
}
.icon-magic:before {
    content: "\f0d0";
}
.icon-linkedin:before {
    content: "\f0e1";
}
.icon-comment-alt:before {
    content: "\f0e5";
}
.icon-comments-alt:before {
    content: "\f0e6";
}
.icon-fighter-jet:before {
    content: "\f0fb";
}
.icon-medkit:before {
    content: "\f0fa";
}
.icon-suitcase-4:before {
    content: "\f0f2";
}
.icon-cloud-upload:before {
    content: "\f0ee";
}
.icon-cloud-download:before {
    content: "\f0ed";
}
.icon-plus-sign-2:before {
    content: "\f0fe";
}
.icon-double-angle-left:before {
    content: "\f100";
}
.icon-double-angle-right:before {
    content: "\f101";
}
.icon-double-angle-up:before {
    content: "\f102";
}
.icon-double-angle-down:before {
    content: "\f103";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-angle-up:before {
    content: "\f106";
}
.icon-angle-down:before {
    content: "\f107";
}
.icon-sort:before {
    content: "\f0dc";
}
.icon-sort-down:before {
    content: "\f0dd";
}
.icon-sort-up:before {
    content: "\f0de";
}
.icon-desktop:before {
    content: "\f108";
}
.icon-laptop:before {
    content: "\f109";
}
.icon-tablet-2:before {
    content: "\f10a";
}
.icon-mobile:before {
    content: "\f10b";
}
.icon-quote-right:before {
    content: "\f10e";
}
.icon-quote-left:before {
    content: "\f10d";
}
.icon-star-half-full:before {
    content: "\f123";
}
.icon-html5:before {
    content: "\f13b";
}
.icon-chevron-sign-down:before {
    content: "\f13a";
}
.icon-chevron-sign-up:before {
    content: "\f139";
}
.icon-chevron-sign-right:before {
    content: "\f138";
}
.icon-chevron-sign-left:before {
    content: "\f137";
}
.icon-rocket:before {
    content: "\f135";
}
.icon-calendar-empty:before {
    content: "\f133";
}
.icon-microphone-off:before {
    content: "\f131";
}
.icon-microphone-4:before {
    content: "\f130";
}
.icon-css3:before {
    content: "\f13c";
}
.icon-rss-sign:before {
    content: "\f143";
}
.icon-play-sign:before {
    content: "\f144";
}
.icon-minus-sign-alt:before {
    content: "\f146";
}
.icon-check-sign:before {
    content: "\f14a";
}
.icon-edit-sign:before {
    content: "\f14b";
}
.icon-youtube-sign:before {
    content: "\f166";
}
.icon-youtube:before {
    content: "\f167";
}
.icon-dropbox:before {
    content: "\f16b";
}
.icon-youtube-play:before {
    content: "\f16a";
}
.icon-xing:before {
    content: "\f168";
}
.icon-xing-sign:before {
    content: "\f169";
}
.icon-tumblr:before {
    content: "\f173";
}
.icon-tumblr-sign:before {
    content: "\f174";
}
.icon-apple:before {
    content: "\f179";
}
.icon-windows:before {
    content: "\f17a";
}
.icon-android-2:before {
    content: "\f17b";
}
.icon-skype:before {
    content: "\f17e";
}
.icon-dribbble:before {
    content: "\f17d";
}
.icon-foursquare:before {
    content: "\f180";
}
.icon-linux:before {
    content: "\f17c";
}
.icon-phone-4:before {
    content: "\e15e";
}
.icon-mobile-2:before {
    content: "\e15f";
}
.icon-airplane:before {
    content: "\e198";
}
.icon-github-2:before {
    content: "\e24c";
}
.icon-github-3:before {
    content: "\e24d";
}
.icon-flickr:before {
    content: "\e24e";
}
.icon-flickr-2:before {
    content: "\e24f";
}
.icon-vimeo:before {
    content: "\e250";
}
.icon-vimeo-2:before {
    content: "\e251";
}
.icon-twitter-2:before {
    content: "\e252";
}
.icon-twitter-3:before {
    content: "\e253";
}
.icon-facebook-2:before {
    content: "\e254";
}
.icon-facebook-3:before {
    content: "\e255";
}
.icon-facebook-4:before {
    content: "\e256";
}
.icon-googleplus:before {
    content: "\e257";
}
.icon-googleplus-2:before {
    content: "\e258";
}
.icon-pinterest-2:before {
    content: "\e259";
}
.icon-pinterest-3:before {
    content: "\e25a";
}
.icon-tumblr-2:before {
    content: "\e25b";
}
.icon-tumblr-3:before {
    content: "\e25c";
}
.icon-linkedin-2:before {
    content: "\e25d";
}
.icon-linkedin-3:before {
    content: "\e25e";
}
.icon-dribbble-2:before {
    content: "\e25f";
}
.icon-dribbble-3:before {
    content: "\e260";
}
.icon-stumbleupon:before {
    content: "\e261";
}
.icon-stumbleupon-2:before {
    content: "\e262";
}
.icon-lastfm:before {
    content: "\e263";
}
.icon-lastfm-2:before {
    content: "\e264";
}
.icon-rdio:before {
    content: "\e265";
}
.icon-rdio-2:before {
    content: "\e266";
}
.icon-spotify:before {
    content: "\e267";
}
.icon-spotify-2:before {
    content: "\e268";
}
.icon-qq:before {
    content: "\e269";
}
.icon-instagram:before {
    content: "\e26a";
}
.icon-dropbox-2:before {
    content: "\e26b";
}
.icon-smashing:before {
    content: "\e279";
}
.icon-vk:before {
    content: "\e278";
}
.icon-circles:before {
    content: "\e277";
}
.icon-behance:before {
    content: "\e276";
}
.icon-mixi:before {
    content: "\e275";
}
.icon-soundcloud:before {
    content: "\e274";
}
.icon-picasa:before {
    content: "\e273";
}
.icon-paypal:before {
    content: "\e272";
}
.icon-sina-weibo:before {
    content: "\e271";
}
.icon-renren:before {
    content: "\e270";
}
.icon-skype-2:before {
    content: "\e26f";
}
.icon-skype-3:before {
    content: "\e26e";
}
.icon-flattr:before {
    content: "\e26d";
}
.icon-evernote:before {
    content: "\e26c";
}
.icon-home-2:before {
    content: "\e27a";
}
.icon-home-3:before {
    content: "\e27b";
}
.icon-newspaper:before {
    content: "\e27e";
}
.icon-pencil-3:before {
    content: "\e27f";
}
.icon-pencil-4:before {
    content: "\e280";
}
.icon-image:before {
    content: "\e287";
}
.icon-images:before {
    content: "\e288";
}
.icon-camera-5:before {
    content: "\e289";
}
.icon-headphones-2:before {
    content: "\e28b";
}
.icon-play-2:before {
    content: "\e28c";
}
.icon-film-5:before {
    content: "\e28d";
}
.icon-camera-6:before {
    content: "\e28e";
}
.icon-bullhorn-2:before {
    content: "\e295";
}
.icon-book-2:before {
    content: "\e299";
}
.icon-profile:before {
    content: "\e29d";
}
.icon-file:before {
    content: "\e29c";
}
.icon-tag-3:before {
    content: "\e2aa";
}
.icon-tags-3:before {
    content: "\e2ab";
}
.icon-cart:before {
    content: "\e2af";
}
.icon-cart-2:before {
    content: "\e2b0";
}
.icon-cart-3:before {
    content: "\e2b1";
}
.icon-support:before {
    content: "\e2b5";
}
.icon-alarm-2:before {
    content: "\e2c4";
}
.icon-location-2:before {
    content: "\e2bd";
}
.icon-location-3:before {
    content: "\e2bc";
}
.icon-pushpin-2:before {
    content: "\e2bb";
}
.icon-phone-5:before {
    content: "\e2b6";
}
.icon-alarm-3:before {
    content: "\e2c5";
}
.icon-bell:before {
    content: "\e2c6";
}
.icon-stopwatch:before {
    content: "\e2c7";
}
.icon-calendar-5:before {
    content: "\e2c8";
}
.icon-calendar-6:before {
    content: "\e2c9";
}
.icon-screen:before {
    content: "\e2cc";
}
.icon-laptop-2:before {
    content: "\e2cd";
}
.icon-mobile-3:before {
    content: "\e2ce";
}
.icon-mobile-4:before {
    content: "\e2cf";
}
.icon-tablet-3:before {
    content: "\e2d0";
}
.icon-upload-4:before {
    content: "\e2d9";
}
.icon-download-5:before {
    content: "\e2d8";
}
.icon-box-remove:before {
    content: "\e2d7";
}
.icon-box-add:before {
    content: "\e2d6";
}
.icon-bubble:before {
    content: "\e2e4";
}
.icon-bubbles:before {
    content: "\e2e5";
}
.icon-bubbles-2:before {
    content: "\e2e6";
}
.icon-bubble-2:before {
    content: "\e2e7";
}
.icon-bubbles-3:before {
    content: "\e2e8";
}
.icon-bubbles-4:before {
    content: "\e2e9";
}
.icon-user-2:before {
    content: "\e2ea";
}
.icon-users:before {
    content: "\e2eb";
}
.icon-user-3:before {
    content: "\e2ec";
}
.icon-users-2:before {
    content: "\e2ed";
}
.icon-user-4:before {
    content: "\e2ee";
}
.icon-user-5:before {
    content: "\e2ef";
}
.icon-quotes-left:before {
    content: "\e2f0";
}
.icon-zoom-out-3:before {
    content: "\e2fb";
}
.icon-zoom-in-3:before {
    content: "\e2fa";
}
.icon-search-2:before {
    content: "\e2f9";
}
.icon-spinner:before {
    content: "\e2f2";
}
.icon-settings:before {
    content: "\e306";
}
.icon-equalizer-2:before {
    content: "\e307";
}
.icon-cog-4:before {
    content: "\e308";
}
.icon-cogs-3:before {
    content: "\e309";
}
.icon-cog-5:before {
    content: "\e30a";
}
.icon-hammer:before {
    content: "\e30b";
}
.icon-wand:before {
    content: "\e30c";
}
.icon-rocket-2:before {
    content: "\e319";
}
.icon-gift:before {
    content: "\e313";
}
.icon-remove-2:before {
    content: "\e321";
}
.icon-remove-3:before {
    content: "\e322";
}
.icon-briefcase-2:before {
    content: "\e323";
}
.icon-airplane-2:before {
    content: "\e324";
}
.icon-truck-2:before {
    content: "\e325";
}
.icon-signup:before {
    content: "\e32d";
}
.icon-switch-2:before {
    content: "\e32b";
}
.icon-earth:before {
    content: "\e33c";
}
.icon-globe-2:before {
    content: "\e33b";
}
.icon-upload-5:before {
    content: "\e33a";
}
.icon-download-6:before {
    content: "\e339";
}
.icon-upload-6:before {
    content: "\e338";
}
.icon-download-7:before {
    content: "\e337";
}
.icon-cloud-upload-2:before {
    content: "\e336";
}
.icon-cloud-download-2:before {
    content: "\e335";
}
.icon-cloud-3:before {
    content: "\e334";
}
.icon-list-2:before {
    content: "\e32e";
}
.icon-list-3:before {
    content: "\e32f";
}
.icon-numbered-list:before {
    content: "\e330";
}
.icon-link-3:before {
    content: "\e33d";
}
.icon-flag-2:before {
    content: "\e33e";
}
.icon-star-2:before {
    content: "\e348";
}
.icon-star-3:before {
    content: "\e349";
}
.icon-star-4:before {
    content: "\e34a";
}
.icon-heart-2:before {
    content: "\e34b";
}
.icon-heart-3:before {
    content: "\e34c";
}
.icon-heart-broken:before {
    content: "\e34d";
}
.icon-checkmark-4:before {
    content: "\e378";
}
.icon-close:before {
    content: "\e377";
}
.icon-checkmark-5:before {
    content: "\e379";
}
.icon-minus-4:before {
    content: "\e37b";
}
.icon-plus-4:before {
    content: "\e37c";
}
.icon-play-3:before {
    content: "\e37f";
}
.icon-pause-2:before {
    content: "\e380";
}
.icon-stop-2:before {
    content: "\e381";
}
.icon-backward-2:before {
    content: "\e382";
}
.icon-forward-2:before {
    content: "\e383";
}
.icon-play-4:before {
    content: "\e384";
}
.icon-pause-3:before {
    content: "\e385";
}
.icon-stop-3:before {
    content: "\e386";
}
.icon-backward-3:before {
    content: "\e387";
}
.icon-loop:before {
    content: "\e396";
}
.icon-volume-decrease:before {
    content: "\e394";
}
.icon-volume-increase:before {
    content: "\e393";
}
.icon-volume-mute:before {
    content: "\e392";
}
.icon-volume-mute-2:before {
    content: "\e391";
}
.icon-volume-low:before {
    content: "\e390";
}
.icon-volume-medium:before {
    content: "\e38f";
}
.icon-volume-high:before {
    content: "\e38e";
}
.icon-eject-2:before {
    content: "\e38d";
}
.icon-next:before {
    content: "\e38c";
}
.icon-previous:before {
    content: "\e38b";
}
.icon-last:before {
    content: "\e38a";
}
.icon-first:before {
    content: "\e389";
}
.icon-forward-3:before {
    content: "\e388";
}
.icon-arrow-up-left:before {
    content: "\e399";
}
.icon-arrow-up-2:before {
    content: "\e39a";
}
.icon-arrow-up-right:before {
    content: "\e39b";
}
.icon-arrow-right-2:before {
    content: "\e39c";
}
.icon-arrow-down-right:before {
    content: "\e39d";
}
.icon-arrow-down-2:before {
    content: "\e39e";
}
.icon-arrow-down-left:before {
    content: "\e39f";
}
.icon-arrow-left-2:before {
    content: "\e3a0";
}
.icon-arrow-up-left-2:before {
    content: "\e3a1";
}
.icon-arrow-up-3:before {
    content: "\e3a2";
}
.icon-arrow-up-right-2:before {
    content: "\e3a3";
}
.icon-arrow-right-3:before {
    content: "\e3a4";
}
.icon-arrow-down-right-2:before {
    content: "\e3a5";
}
.icon-checkbox-partial:before {
    content: "\e3b4";
}
.icon-checkbox-unchecked:before {
    content: "\e3b3";
}
.icon-checkbox-checked:before {
    content: "\e3b2";
}
.icon-tab:before {
    content: "\e3b1";
}
.icon-arrow-left-3:before {
    content: "\e3b0";
}
.icon-arrow-down-left-2:before {
    content: "\e3af";
}
.icon-arrow-down-3:before {
    content: "\e3ae";
}
.icon-arrow-down-right-3:before {
    content: "\e3ad";
}
.icon-arrow-right-4:before {
    content: "\e3ac";
}
.icon-arrow-up-right-3:before {
    content: "\e3ab";
}
.icon-arrow-up-4:before {
    content: "\e3aa";
}
.icon-arrow-up-left-3:before {
    content: "\e3a9";
}
.icon-arrow-left-4:before {
    content: "\e3a8";
}
.icon-arrow-down-left-3:before {
    content: "\e3a7";
}
.icon-arrow-down-4:before {
    content: "\e3a6";
}
.icon-radio-checked:before {
    content: "\e3b5";
}
.icon-radio-unchecked:before {
    content: "\e3b6";
}
.icon-google:before {
    content: "\e3dd";
}
.icon-google-plus-2:before {
    content: "\e3de";
}
.icon-google-plus-3:before {
    content: "\e3df";
}
.icon-google-plus-4:before {
    content: "\e3e0";
}
.icon-google-plus-5:before {
    content: "\e3e1";
}
.icon-vimeo2:before {
    content: "\e3f0";
}
.icon-vimeo-3:before {
    content: "\e3ef";
}
.icon-youtube-2:before {
    content: "\e3ee";
}
.icon-youtube-3:before {
    content: "\e3ed";
}
.icon-feed:before {
    content: "\e3ec";
}
.icon-feed-2:before {
    content: "\e3eb";
}
.icon-feed-3:before {
    content: "\e3ea";
}
.icon-twitter-4:before {
    content: "\e3e9";
}
.icon-twitter-5:before {
    content: "\e3e8";
}
.icon-twitter-6:before {
    content: "\e3e7";
}
.icon-instagram-2:before {
    content: "\e3e6";
}
.icon-facebook-5:before {
    content: "\e3e5";
}
.icon-facebook-6:before {
    content: "\e3e4";
}
.icon-facebook-7:before {
    content: "\e3e3";
}
.icon-google-drive:before {
    content: "\e3e2";
}
.icon-vimeo-4:before {
    content: "\e3f1";
}
.icon-lanyrd:before {
    content: "\e3f2";
}
.icon-flickr-3:before {
    content: "\e3f3";
}
.icon-flickr-4:before {
    content: "\e3f4";
}
.icon-flickr-5:before {
    content: "\e3f5";
}
.icon-flickr-6:before {
    content: "\e3f6";
}
.icon-picassa:before {
    content: "\e3f7";
}
.icon-picassa-2:before {
    content: "\e3f8";
}
.icon-dribbble-4:before {
    content: "\e3f9";
}
.icon-dribbble-5:before {
    content: "\e3fa";
}
.icon-dribbble-6:before {
    content: "\e3fb";
}
.icon-forrst:before {
    content: "\e3fc";
}
.icon-forrst-2:before {
    content: "\e3fd";
}
.icon-deviantart:before {
    content: "\e3fe";
}
.icon-deviantart-2:before {
    content: "\e3ff";
}
.icon-yahoo:before {
    content: "\e40e";
}
.icon-tumblr-4:before {
    content: "\e40d";
}
.icon-tumblr-5:before {
    content: "\e40c";
}
.icon-blogger:before {
    content: "\e40b";
}
.icon-blogger-2:before {
    content: "\e40a";
}
.icon-joomla:before {
    content: "\e409";
}
.icon-wordpress:before {
    content: "\e408";
}
.icon-wordpress-2:before {
    content: "\e407";
}
.icon-github-4:before {
    content: "\e406";
}
.icon-github-5:before {
    content: "\e405";
}
.icon-github-6:before {
    content: "\e404";
}
.icon-github-7:before {
    content: "\e403";
}
.icon-github-8:before {
    content: "\e402";
}
.icon-steam:before {
    content: "\e401";
}
.icon-steam-2:before {
    content: "\e400";
}
.icon-tux:before {
    content: "\e40f";
}
.icon-apple-2:before {
    content: "\e410";
}
.icon-finder:before {
    content: "\e411";
}
.icon-android-3:before {
    content: "\e412";
}
.icon-windows-2:before {
    content: "\e413";
}
.icon-windows8:before {
    content: "\e414";
}
.icon-soundcloud-2:before {
    content: "\e415";
}
.icon-soundcloud-3:before {
    content: "\e416";
}
.icon-skype-4:before {
    content: "\e417";
}
.icon-reddit:before {
    content: "\e418";
}
.icon-linkedin-4:before {
    content: "\e419";
}
.icon-lastfm-3:before {
    content: "\e41a";
}
.icon-lastfm-4:before {
    content: "\e41b";
}
.icon-stumbleupon-3:before {
    content: "\e41d";
}
.icon-delicious:before {
    content: "\e41c";
}
.icon-paypal-2:before {
    content: "\e429";
}
.icon-paypal-3:before {
    content: "\e428";
}
.icon-paypal-4:before {
    content: "\e427";
}
.icon-foursquare-2:before {
    content: "\e426";
}
.icon-foursquare-3:before {
    content: "\e425";
}
.icon-flattr-2:before {
    content: "\e424";
}
.icon-xing-2:before {
    content: "\e423";
}
.icon-xing-3:before {
    content: "\e422";
}
.icon-pinterest-4:before {
    content: "\e421";
}
.icon-pinterest-5:before {
    content: "\e420";
}
.icon-stackoverflow:before {
    content: "\e41f";
}
.icon-stumbleupon-4:before {
    content: "\e41e";
}
.icon-file-word:before {
    content: "\e42e";
}
.icon-file-excel:before {
    content: "\e42f";
}
.icon-html5-2:before {
    content: "\e434";
}
.icon-html5-3:before {
    content: "\e435";
}
.icon-css3-2:before {
    content: "\e436";
}
.icon-chrome:before {
    content: "\e437";
}
.icon-firefox:before {
    content: "\e438";
}
.icon-IE:before {
    content: "\e439";
}
.icon-opera:before {
    content: "\e43a";
}
.icon-safari:before {
    content: "\e43b";
}
.icon-IcoMoon:before {
    content: "\e43c";
}
.icon-envelope-3:before {
    content: "\e43d";
}
.icon-briefcase-3:before {
    content: "\e019";
}
.icon-cart-4:before {
    content: "\e01a";
}
.icon-plus-5:before {
    content: "\e01b";
}
.icon-minus-5:before {
    content: "\e01f";
}
.icon-search-3:before {
    content: "\e020";
}
.icon-dribbble-7:before {
    content: "\e021";
}
.icon-apple-3:before {
    content: "\e022";
}
.icon-forrst-3:before {
    content: "\e025";
}
.icon-feed-4:before {
    content: "\e028";
}
.icon-earth-2:before {
    content: "\e032";
}
.icon-location-4:before {
    content: "\e033";
}
.icon-eye-2:before {
    content: "\e034";
}
.icon-calendar-7:before {
    content: "\e035";
}
.icon-tag-4:before {
    content: "\e036";
}
.icon-phone-6:before {
    content: "\e037";
}
.icon-headphones-3:before {
    content: "\e038";
}
.icon-checkmark-6:before {
    content: "\e039";
}
.icon-cancel-4:before {
    content: "\e03a";
}
.icon-skype-5:before {
    content: "\e054";
}
.icon-gift-2:before {
    content: "\e055";
}
.icon-trashcan-2:before {
    content: "\e056";
}
.icon-floppy:before {
    content: "\e057";
}
.icon-list-4:before {
    content: "\e059";
}
.icon-grid-3:before {
    content: "\e062";
}
.icon-camera-7:before {
    content: "\e063";
}
.icon-winsows:before {
    content: "\e064";
}