.thumb img {
    display: block;
    width: 100%;
}
.thumb a {
    display: block;
    width: 100%;
    height:100%;
    overflow: hidden;
}
.logo a{
    display:block;
    width:244px;
    height:67px;
}
.header{
    width:100%;
}
.header .top{
    background-color: #098d94;
    padding-top: 6px;
}
.header nav a{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    font-family: '幼圆','Mircosoft YaHei',serif;
    display: block;
    float: left;
    padding: 15px 16px 14px;
    line-height: 16px;
}
.header nav a.active{
    color: #333;
    background:#FFF;
}
.header .middle{
    padding: 25px 0 15px;
    border-bottom: 1px solid #dfdfdf;
}
.header .bottom{
    border-bottom: 1px solid #dfdfdf;
}
.header .bottom .left{
    max-height: 30px;
    overflow: hidden;
}
.header .bottom .left span{
    float: left;
    display: inline-block;
    margin: 0;
    color: #098d94;
    position: relative;
    text-transform: uppercase;
    line-height: 30px;
    border-right: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    padding: 0 15px;
}
.header .headline{
    float: left;
    width: 626px;
    margin-left: 15px;
    line-height: 30px;
    height:30px;
}
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.header .bottom li:first-child{
    border-left:1px solid #dfdfdf
}
.header .bottom li{
    float: left;
    border-right:1px solid #dfdfdf
}
.header .bottom li a{
    padding: 0px 10px;
    line-height: 30px;
}

.main .wrapper{
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    width:1102px;
}
.main .left{
    width: 501px;
    float: left;
    padding: 20px 20px 0;
    border-right: 1px solid #dedede;
}
.main .right{
    width: 520px;
    float: left;
    padding: 20px 20px 0;
    border-left: 1px solid #dedede;
    margin-left: -1px;
}
.main .left .viewport{
    width:500px;
    height:500px;
    position: relative;
    margin-bottom: 30px
}
.main .left .viewport a{
    display: block;
    width:100%;
    height:100%;
    overflow: hidden;
}
.main .left .post li:first-child{
    border-top:none;
}
.main .newList{
    margin-bottom: 30px
 }
.main h3{
    color: #098d94;
    border-bottom: 3px double #dedede;
    margin: 0 0 15px;
    text-transform: uppercase;
    font: 700 24px/26px;
}
.main .newList article{
    float: left;
    width: 207px;
    margin-right: 20px;
}
.main .newList article .thumb{
    width:207px;
    height:207px;
    margin-bottom: 10px;
    overflow: hidden;
}
.main .newList h4{
    color: #098d94;
    font: 700 20px/22px;
    letter-spacing: 0;
    margin-bottom: 5px;
}
.main .newList article .date{
    color: #098d94;
    font-size: 12px;
}
.main .newList h4{
    font-size: 14px;
}
.main .newList p{
    color: #666;
    font-size: 12px;
}
.main .post {
    padding: 0;
    float: left;
    width: 273px;
}
.main .post li:first-child{
    border-top: none;
    padding-top: 0px;
    margin-top: 0;
}
.main .newList .post li:first-child .thumb{
    display: block;
    width:120px;
    height:120px;
}
.main .newList .post li{
    list-style: none;
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
    margin: 15px 0 0;
}
.main .newList .post .thumb{
    float: left;
    margin-right: 20px;
    display: none;
}
.main .post .date{
    color: #098d94;
    font-style: italic;
    display: none;
}
.main .right .top{
    border-bottom: 1px solid #dedede;
    padding: 0 20px 15px;
    margin: 0 -20px;
}
.main .right .top li{
    display: block;
    float: left;
    margin: 0 10px;
    padding: 0;
    width:160px;
}
.main .right .top li:first-child{
    margin-left: 0;
}
.main .right .top .view{
    display: block;
    text-align: start;
    float: none;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: auto;
    width: 540px;
    margin: 0;
    overflow: hidden;
}
.main .right .top .view .thumb{
    margin-bottom: 10px;
    width:160px;
    height:160px;
}
.main .right .post{
    width:100%;
}
.main .right .new2{
    margin-bottom:20px;
}
.main .right .new2 article .thumb{
    width:320px;
    height:320px;
    margin-bottom:10px;
}
.main .right .new2 li .thumb{
    width:75px;
    height:75px;
}
.main .right h4{
    font-size:14px;
}
.main .right .date{
    font-size:14px;
    color: #098d94;
}
.main .right p{
    font-size:12px;
    color: #666;
    line-height: 1.428571429;
}
.main .right .left{
    width: 320px;
    padding: 20px 20px 0 0;
    border-right: 1px solid #dedede;
    float: left;
}
.main .right .post .thumb{
    float: left;
    margin-right: 18px;
    width: 75px;
}
.main .right .left .post li{
    list-style: none;
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
    margin: 15px 0 0;
}
.main .right .right{
    float: left;
    padding: 20px 0 0 20px;
    border-left: 1px solid #dedede;
    width: 159px;
    margin-bottom:15px;
}
.main .right .right .categories li{
    font-size: 14px;
    margin-top: 10px;
    padding-top: 10px;
    list-style: none;
    border-top: 1px solid #e5e5e5;
}
.main .right .right .categories li:first-child{
    border-top:none;
}
.main .right .right .categories li a{
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

@media(max-width:1124px){
    body{
        min-width:1000px;
    }
    .header .headline{
        width:524px;
    }
    .wrapper{
        width:1000px;
    }
    .main .wrapper{
        width: 998px;
    }
    .main .left .viewport{
        width:448px;
        height:448px;
    }
    .main .newList article{
        width:188px;
    }
    .main .post{
        width:240px;
    }
    .main .newList article .thumb{
        width:188px;
        height:188px;
    }
    .main .newList .post li:first-child .thumb{
        width:105px;
        height:105px;
    }
    .main .left{
        width:448px;
        overflow: hidden;
    }
    .main .right{
        width: 468px;
        overflow: hidden;
    }
    .main .right .top li{
        width:143px;
    }
    .main .right .top .view .thumb{
        width:143px;
        height:143px;
    }
    .main .right .left{
        width:280px;
    }
    .main .right .new2 article .thumb{
        width:280px;
        height:280px;
    }
    .main .right .right{
        width:146px;
    }
}
@media(max-width:1024px){
    body{
        min-width:800px;
    }
    .header .headline{
        width:324px;
    }
    .wrapper{
        width:800px;
    }
    .main .wrapper{
        width: 800px;
    }
    .main .right .top li:first-child{
        margin:0 10px 10px 10px;
    }
    .main .right .top li{
        float:none;
        width:255px;
        margin:0 10px 10px 10px;
    }
    .main .right{
        width:255px;
    }
    .main .right .top .view .thumb{
        width:75px;
        height:75px;
        float: left;
        margin-right: 18px;
    }
    .main .right .new2 article .thumb{
        width: 75px;
        height: 75px;
        float: left;
        margin-right: 18px;
    }
    .main .right .new2 article .date{
        display:none;
    }
    .main .right .right{
        border-left:none;
        width:230px;
    }
}