<!DOCTYPE html>
<html>
<head><title>Login</title>
    <link href="http://dev.resources.itharbors.com:3000/css/admin/metro-bootstrap.css" rel="stylesheet">
    <link href="http://dev.resources.itharbors.com:3000/css/admin/login.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <form action="/" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name="user[name]" placeholder="Email address" required autofocus class="form-control">
        <input type="password" name="user[password]" placeholder="Password" required class="form-control">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
    </form>
</div>
</body>
</html>